@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: Poppins-Italic;
  src: url(./fonts/Poppins/Poppins-MediumItalic.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(./fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto/Roboto-Medium.ttf);
}

body {
	font-family: Roboto-Light, sans-serif; 
}

h2 {
	margin-top: 10px;
	margin-bottom: 30px;
}

h5 {
	color: black;
	font-family: Poppins, sans-serif; 
}

h2, h3 {
	color: black;
	font-family: Poppins, sans-serif; 
	font-size: 32px;
}

h2:after {
 	content: none;
 }

.navbar {
	margin: 0;
}

.navbar-default {
	background-color: black;
}

.navbar-brand {
	padding: 0;
}

.navbar-logo-img {
	width: 140px;
    height: auto;
    padding: 2% 0;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-btn {
	margin-top: 24px;
}

.hero-full-container {
	padding: 0;
}

.background-image-container {
	background-color: black;
	padding: 5% 0;
	background-image: none;
}

.hero-image {
	max-width: 600px;
	height: auto;
}

.hero-title {
	animation: bounce;
	animation-duration: 1.4s;
}

.hero-subtitle-container {
	margin-top: -80px;
}

.hero-subtitle {
	animation: jello;
	animation-duration: 1.8s;
}

.btn:hover {
	color: white;
	background-color: #A8ADAD;
}

#projects {
	background-color: #A8ADAD;
}

.company-logos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.company-logos a:hover {
	animation: pulse;
	animation-duration: 1.5s;
}

.company-logos img {
	height: auto;
	max-width: 360px;
}

.footer-container {
	background-color: black;
}

.footer-header {
	color: white;
}





